<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 在filter登陆验证-->
    <!--同时处理中文乱码的，通过Filter过滤器进行中文处理 ，那么所有的Servlet都不需要单独处理了。 -->
    <filter>
    <filter-name>authFilter</filter-name>
    <filter-class>filter.authFilter</filter-class>
    </filter>
 
    <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--Category相关的servlet-->
    <!--浏览Category的servlet -->
     <servlet>
        <servlet-name>listCategoryServlet</servlet-name>
        <servlet-class>servlet.category.listCategoryServlet</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>listCategoryServlet</servlet-name>
        <url-pattern>/listCategory</url-pattern>
    </servlet-mapping>   
    <!--调到编辑页面的servlet -->
     <servlet>
        <servlet-name>editCategory</servlet-name>
        <servlet-class>servlet.category.editCategory</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>editCategory</servlet-name>
        <url-pattern>/admin_category_edit</url-pattern>
    </servlet-mapping>
    <!--更新Category的servlet -->
    <servlet>
        <servlet-name>updateCategory</servlet-name>
        <servlet-class>servlet.category.updateCategory</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>updateCategory</servlet-name>
        <url-pattern>/admin_category_update</url-pattern>
    </servlet-mapping>
  
</web-app>